*,
::after,
::before{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: rgb(100, 100, 100);
    box-shadow: 0rem 1rem 4rem rgb(0,0,0,.5);
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}

.nav-header{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.sidebar{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background:rgb(222, 222, 222);
    display: grid;
    grid-template-rows: auto 1fr auto;
    row-gap: 1rem;
    box-shadow: 0rem .2rem 1rem rgb(0,0,0,.5) ;
    transition: all 0.3s linear;
    transform: translate(-100%);
}

.show-sidebar{
    transform: translate(0);
}

.sidebar-header{
  
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1rem 1.5rem;
  
}

.logo{
    height:40px;
    justify-self: center;
}
button{
    background-color: transparent;
    border-color: transparent;
}
.close-btn{
   color:rgb(227, 8, 8);
   font-size: 2em;
   transition: all 0.3s linear;
   cursor: pointer;

}
.close-btn:hover {
  color: rgb(229, 89, 89);
  transform: rotate(360deg);
}
.sidebar-toggle{
   color:rgb(66, 31, 240);
   font-size: 2em;
   position: fixed;
   top: 2rem;
   right: 3rem;
   background: transparent;
   border-color: transparent;
   transition: all 0.3s linear;
   cursor: pointer;
   animation: bounce 2s ease-in-out infinite;
}

.social-icons {
  justify-self: center;
  display: flex;
  padding-bottom: 2rem;
}
.social-icons a {
  font-size: 1.5rem;
  margin: 0 0.5rem;
  color: rgba(83, 0, 147, 0.746);
  transition: all 0.3s linear;
}
.social-icons a:hover {
    color: rgba(197, 10, 110, 0.746);
}

.links a {
    display: block;
    font-size: 1.5rem;
    text-transform: capitalize;
    padding: 1rem 1.5rem;
    color: rgba(49, 6, 61, 0.746);
    transition:all 0.3s linear;
}
.links a:hover {
  background: rgba(255, 255, 255, 0.89);
  color: rgba(19, 19, 19, 0.746);
  padding-left: 1.75rem;
}

@media screen and (min-width:676px){
    .sidebar{
        width: 400px;
    }
}

@keyframes bounce {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }